/node_modules
/public/hot
/public/storage
/public/adminer.*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache
.php-cs-fixer.cache
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
!packages/*
composer.lock